

.header-content {
    display: flex;
    height: 78px;
    flex-wrap: wrap;
    align-content: space-between;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}
.logo-header {
  word-wrap: break-word;
  width: 194px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
}

.icon-buscador {
  margin-left: 5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.input-buscador{
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
}
